{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Восстановление пароля' %}{% endblock title %}
{% block extrastyle %}<link rel="icon" type="image/x-icon" href="{% static 'img/reset-password.png'%}">{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>{% translate 'Восстановление пароля' %}</h1>
    <hr>
    <form action="{% url 'password_reset' %}" method="post">
        <!-- Bootstrap классы для стилизации формы -->
        <div class="mb-3">
            {{ form }}
            {% csrf_token %}
        </div>
        <button type="submit" class="btn btn-primary">{% translate 'Отправить' %}</button>
    </form>
</div>
{% endblock %}

