{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% translate 'Пароль сброшен успешно' %}{% endblock title %}
{% block extrastyle %}<link rel="icon" type="image/x-icon" href="{% static 'img/reset-password.png'%}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}" class="breadcrumb-item">{% translate 'Home' %}</a>
    <span class="breadcrumb-separator">&rsaquo;</span>
    <span class="breadcrumb-item active">{% translate 'Password reset' %}</span>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="alert alert-success" role="alert">
                {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
            </div>
            <div class="alert alert-info" role="alert">
                {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
