{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}Пароль обновлен{% endblock title %}
{% block extrastyle %}<link rel="icon" type="image/x-icon" href="{% static 'img/reset-password.png'%}">{% endblock %}
{% comment %} {% block breadcrumbs %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% translate 'Password reset' %}</li>
        </ol>
    </nav>
</div>
{% endblock %} {% endcomment %}

{% block content %}
<div class="container mt-5 d-flex flex-column align-items-center justify-content-center">
    <div class="alert alert-success" role="alert">
{% comment %}         {% translate 'Your password has been set. You may go ahead and log in now.' %} {% endcomment %}
        {% translate 'Ваш пароль был установлен. Теперь вы можете войти в систему.' %}
    </div>
    <p><a href="{% url 'login' %}" class="btn btn-primary">{% translate 'Log in' %}</a></p>
</div>
{% endblock %}
