{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block extrastyle %}<link rel="icon" type="image/x-icon" href="{% static 'img/reset-password.png'%}">{% endblock %}
{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}" class="btn btn-link">{% translate 'Documentation' %}</a> / {% endif %}
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-link">{% translate 'Log out' %}</button>
  </form>
  {% include "admin/color_theme_toggle.html" %}
{% endblock %}

{% block breadcrumbs %}
<div class="container mt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{% translate 'Password change' %}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success" role="alert">
                {% translate 'Your password was changed.' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
